@import url('https://fonts.googleapis.com/css?family=Abel|Amiri|Comic+Neue|Lato|Roboto&display=swap');

:root {
	--primary-color: rgb(197, 109, 109);
	--Roboto: 'Roboto, sans-serif';
	--Lato: 'Lato', sans-serif;
	--ComicNueue: 'Comic Neue', cursive;
	--Abel: 'Abel', sans-serif;
	--Amiri: 'Amiri', serif;
	--fade-black: rgb(48, 46, 46);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.nav {
	border-bottom: 2px solid var(--primary-color);
}

.site-logo {
	margin-top: 30px;
	height: 100px;
	width: 200px;
}

.row.nav {
	background-color: white;
	border-bottom: 5px solid var(--primary-color);
}

.col-7 {
	top: 30px;
	/*background-color: yellow;*/
}

.navbar-menu {
	margin-top: 80px;
	margin-bottom: 0;
}
.navbar-menu li {
	display: inline;
	padding: 10px 15px;
}

.navbar-menu li:hover {
	border-top: 2px solid var(--primary-color);
	background-color: whitesmoke;
}

.menu-item {
	font-size: 17px;
}

.menu-item:hover {
	text-decoration: none;
}

.nav-auth {
	font-size: 14px;
}
.nav-auth:hover {
	text-decoration: none;
}

.hamburger {
	color: white;
}

.side-nav a {
	display: none;
}

/*============== Home Component Styling ==================*/
.banner-1 {
	background-image: url('/webImages/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.banner-1 .intro {
	padding: 100px 0px 100px 225px;
	overflow-x: hidden;
}

.pandemic {
	text-align: start;
	padding: 10px;
}

.pandemic h2 {
	font-family: var(--ComicNueue);
	font-size: 20px;
	font-weight: bold;
	color: var(--fade-black);
	text-align: center;
}

.banner-txt {
	color: rgb(48, 46, 46);
	font-family: var(--Amiri);
	letter-spacing: 2px;
}

.start-btn {
	font-family: var(--Amiri);
	font-size: 26px;
	background-color: var(--primary-color);
	color: white;
}

.banner-base {
	padding-bottom: 30px;
	text-align: end;
}

.banner-base h4 {
	text-align: center;
	font-family: var(--ComicNueue);
	font-weight: bold;
	color: var(--fade-black);
}

.counter-img {
	width: 700px;
	height: 380px;
	position: absolute;
	left: 55%;
	top: 220px;
	opacity: 0.7;
}

.section-2 h5 {
	padding-top: 40px;
	text-align: center;
	font-family: var(--ComicNueue);
	font-weight: bold;
	font-size: 24px;
}

.section-2 .d-flex {
	padding-top: 100px;
}

.d-flex .card {
	width: 20vw;
}

.card .fas {
	color: var(--primary-color);
	padding: 20px 20px;
}

.card p {
	font-size: 24px;
	font-weight: bold;
}

.card span {
	margin-top: 30px;
	font-family: var(--Abel);
	font-weight: bold;
}

.section2-btn {
	background-color: var(--primary-color);
	color: white;
	width: 50%;
	margin-left: 27.5%;
	margin-right: 25%;
}
/*=================== End of Home Component Styling ============*/

/* ===========  Media Queries ===========*/

/*========== Medium Sized Screens =================*/

@media (min-width: 560px) and (max-width: 1023px) {
	.col-7 {
		visibility: hidden;
	}

	.nav-auth {
		display: none;
	}

	.fa-user {
		display: none;
	}

	.hamburger {
		visibility: visible;
		position: absolute;
		left: 90%;
		top: 20px;
		font-size: 32px;
		color: blue;
	}

	.side-nav {
		background-color: whitesmoke;
		width: 0;
		height: 100%;
		position: fixed;
		top: 0;
		left: 50%;
		z-index: 1;
		overflow-x: hidden;
		padding-top: 60px;
		opacity: 0.9;
	}

	.side-nav a {
		display: block;
		padding: 10px 5px 10px 30px;
		font-size: 20px;
	}

	.btn-close {
		position: relative;
		left: 250px;
	}

	/*Home Component Stying*/
	.banner-1 .intro {
		padding: 100px 0px 100px 100px;
		overflow-x: hidden;
	}

	.d-flex .card {
		width: 100%;
		margin-right: 25px;
	}
}

/*======================= Small Sized Screens =================*/
@media (min-width: 100px) and (max-width: 559px) {
	.wrapper-nav-menu {
		display: none;
	}

	.nav-auth {
		display: none;
	}

	.fa-user {
		display: none;
	}

	.hamburger {
		display: visible;
		color: blue;
	}

	.site-logo {
		margin-top: 0;
		width: 100px;
		height: 50px;
	}

	.hamburger {
		position: absolute;
		left: 90%;
		top: 10px;
	}

	.side-nav {
		background-color: whitesmoke;
		width: 0;
		height: 100%;
		position: fixed;
		top: 0;
		left: 20%;
		z-index: 1;
		overflow-x: hidden;
		padding-top: 60px;
		opacity: 0.9;
	}

	.side-nav a {
		display: block;
		padding: 10px 5px 10px 30px;
		font-size: 20px;
	}

	.btn-close {
		position: relative;
		left: 200px;
	}

	/*Home Component Stying*/
	.banner-1 .intro {
		padding: 40px 0px 100px 50px;
		overflow-x: hidden;
	}

	.banner-txt {
		font-size: 24px;
		font-weight: bolder;
	}

	.banner-base h4 {
		font-size: 18px;
	}

	.pandemic h2 {
		font-size: 14px;
	}

	.d-flex .card {
		width: 100%;
	}
}

/*============= Ipad Pro and larger tablet devices ========*/
@media (min-width: 1024px) and (max-width: 1250px) {
	.nav-auth {
		font-size: 14px;
		display: block;
	}
}
