@import url('https://fonts.googleapis.com/css?family=Abel|Amiri|Comic+Neue|Lato|Roboto&display=swap');

:root {
	--primary-color: rgb(197, 109, 109);
	--Roboto: 'Roboto, sans-serif';
	--Lato: 'Lato', sans-serif;
	--ComicNueue: 'Comic Neue', cursive;
	--Abel: 'Abel', sans-serif;
	--Amiri: 'Amiri', serif;
	--fade-black: rgb(48, 46, 46);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	min-height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.h-center {
	margin: 0 auto;
}
